@{
    ViewData["Title"] = "Home Page";
}
@model Usuario
<div class="card">
    <form method="POST" asp-controller="Home" asp-action="ProcesaUsuario">
        <h2 class="Titulo">Ingrese su información</h2>
        <div class="item">
            <label asp-for="Nombre">Nombre: </label>
            <input type="text" asp-for="Nombre">
            <span asp-validation-for="Nombre"></span>
        </div>
        <div class="item">
            <label asp-for="Apellido">Apellido: </label>
            <input type="text" asp-for="Apellido">
            <span asp-validation-for="Apellido"></span>
        </div>
        <div class="item">
            <label asp-for="Edad">Edad: </label>
            <input type="number" asp-for="Edad">
            <span asp-validation-for="Edad"></span>
        </div>
        <div class="item">
            <label asp-for="Email">Email: </label>
            <input type="text" asp-for="Email">
            <span asp-validation-for="Email"></span>
        </div>
        <div class="item">
            <label asp-for="Password">Password: </label>
            <input type="password" asp-for="Password">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="item boton">
            <button class="btn btn-primary rounded-pill">Guardar</button>
        </div>
    </form>
</div>