@{
    ViewData["Title"] = "Privacy Policy";
}
@model Usuario
<div class="card">
    <div class="item respuesta">
       <h2>¡¡¡@Model.Nombre @Model.Apellido su registro ha sido exitoso!!!</h2> 
    </div>    
    <form method="GET" asp-controller="Home" asp-action="Index">
        <div class="item boton">
            <button class="btn btn-secondary rounded-pill">Volver</button>
        </div>
    </form>
</div>


